.button_cont {
    display: grid;
    grid-template-columns: 1fr;
}

.button {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
}

button {
    text-align: center;
    width: 20%;
    height: 50px;
    font-size: 20px;
    color: #FFFFFF;
    background-color: #e469ff; 
    border: 2px solid #000000; 
    border-radius: 5px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #a549ba; 
}
